@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>导入导出demo</title>
    <link href="~/CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CSS/bootstrap.min14ed.css" rel="stylesheet" />
    <style>
        body .table thead tr th {
            text-align: center
        }

        body .table tbody tr td {
            text-align: center
        }
    </style>
</head>
<body>
    <div id="app">
        <table class="table table-bordered" align="center">
            <thead>
                <tr>
                    <th data-Field="SNO" title="学生编号" align="center">学生编号</th>
                    <th data-Field="SNAME" title="学生姓名" align="center">学生姓名</th>
                    <th data-Field="AGE" title="年龄" align="center">年龄</th>
                    <th data-Field="SEX" title="性别" align="center">性别</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in Students">
                    <td>{{item.SNO}}</td>
                    <td>{{item.SNAME}}</td>
                    <td>{{item.AGE}}</td>
                    <td>{{item.SEX}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div align="center">
        <button class="btn btn-primary btn-sm" id="btn_Import_Template">批量导入</button>
        <button class="btn btn-primary btn-sm" id="btn_Export">
            导出记录
        </button>
    </div>
    <script src="~/Script/jquery-3.2.1.min.js"></script>
    <script src="~/Script/vue.min.js"></script>
    <script src="~/Script/bootstrap.min.js"></script>
    <script src="~/Script/layer/layer.min.js"></script>
    <script src="~/Script/layer/laydate/laydate.js"></script>
    <script src="~/Script/import.js"></script>
    <script type="text/javascript">
        ImportFunction.init();
    </script>
</body>
</html>
